.MovieCard {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: stretch;
    -webkit-align-items: stretch;
    width: 100%;
    max-width: 350px;
    margin: 30px 0;
    padding: 0;
}

.MovieCard.MovieCardError {
    max-width: 100%;
}

.MovieCard.MovieCardError > span {
    width: 100%;
    text-align: center;
}

.MovieCard > img {
    display: block;
    width: 100%;
}

.MovieCard > h3,
.MovieCard > span {
    display: block;
    margin: 10px 0;
}

.MovieCard > span {
    width: 100px;
    text-align: right;
}

.MovieCard > h3 {
    width: calc(100% - 100px);
}

.MovieCard > p,
.MovieCard > span.genre {
    width: 100%;
    text-align: left;
}

.MovieCard > p {
    margin: 0;
}

