@font-face {
    font-family: 'MyFont';
    src: url('./fonts/fira-sans.woff') format('woff'),
         url('./fonts/fira-sans.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fira-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, section {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'MyFont';
    overflow-x: hidden;
}

#sct {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.error,
.inf {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.error {
    color: #ff0000;
}

.inf {
    color: #2f42cc;
}

.HeaderError {
    display: block;
    width: 100%;
    min-height: 200px;
    margin: 20px auto;
    line-height: 160px;
    text-align: center;
}