footer {
    display: block;
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 30px 10px 50px;
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
}

.soc {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.soc {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.soc a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: #fff;
}

.soc a.vk {
    background: url('img/vk.png') center center/30px auto no-repeat;
}
.soc a.facebook {
    background: url('img/fb.png') center center/30px auto no-repeat;
}
.soc a.instagram {
    background: url('img/ins.png') center center/30px auto no-repeat;
}
.soc a.youtube {
    background: url('img/yt.png') center center/30px auto no-repeat;
}